
.list-teacher {
    max-height: 200px;
    overflow-y: scroll;

}

.list-teacher a {
    width: 100%;
    color: black;
}

.list-teacher a:hover .item-teacher {
    background-color: #4267B2;
    border-color: #4267B2;
    color: white;
}

.list-teacher a:hover span {
    color: white;
}

.list-teacher a:hover h5 {
    color: white;
}

.header-modal {
    text-align: right;
}

.item-teacher {
    border-bottom: 1px solid black;
    width: 100%;
    height: 60px;
    padding: 5px 10px;

}

div.active {
    border-color: #4267B2;
}

.avatar-teacher {
    float: left;
    display: inline-block;
}

.avatar-teacher img {
    width: 50px;
    height: 50px;
}

.infor-teacher {
    display: inline-block;
    margin-left: 10px;

}

.infor-teacher span {
    color: black;
}

.infor-teacher h5 {
    color: black;
}

a.active {
    background-color: #4267B2;
    border-color: #4267B2;
    color: white;
}

a.active span {
    color: white;
}

a.active .item-teacher {
    background-color: #4267B2;
    border-color: #4267B2;
    color: white;
}

a.active h5 {
    color: white;
}

#hidden {
    display: none;
}

table tbody tr th {
    font-weight: normal;
}

.div-center {
    text-align: center;
    padding: 10px 0;
}

.icon {
    background-image: url('images/add.png');
}

#button-add {
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #4CAF50;
}

#list-chapter {

    max-height: 200px;
    overflow-y: scroll;
}

#button-action {
    margin: 5px;
    padding: 5px;
    border: none;
    color: white;
    background-color: #4CAF50;
}

.page-paginate {
    display: block;
    margin: 10px;
}

.page-paginate li {
    display: inline;
}

.page-paginate a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.page-paginate a.active {
    background-color: #4CAF50;
    color: white;
}
#btn-up{
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    margin: 5px;
    border: none;
}
#btn-down{
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    margin: 5px;
    border: none;
}
#btn-delete{
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    margin: 5px;
    border: none;
}
